<!-- First page -->
<div class="landing-background">
  <div class="landing-align-middle-right">
    <h1 class="landing-title">How's the noise?</h1>
    <p class="landing-paragraph">Discover houses with their measured noise levels</p>
  </div>
  <%= link_to "Discover Now", houses_path, class: "landing-discover-btn" %>
  <!-- <%= image_tag("down-arrow.svg", class: "landing-arrow") %> -->
</div>
<!-- <div class="dark-scroll-box"></div> -->

<!-- Why section -->
<div class="landing-why">
  <h1 class="why-title">Why?</h1>
</div>
