// Import page-specific CSS files here.

//index.html.scss

.houses-left {
  width: 50%;
  height: 100%;
  left: 0;
  padding: 30px 20px;
}

.houses-right {
  width: 50%;
  height: 100%;
  right: 0;
  background-color: antiquewhite;
}

.houses-flexbox {
  display: flex;
  width: 100%;
  height: 100%;
}

// card

.card-house {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 50px;
}

.card-house img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-house h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-house p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-house .card-house-infos {
  padding: 16px;
}

.active-house {
  background-color: black;
  color: white;
}
